@font-face {
	font-family: 'Inter-SemiBold';
	src: url('fonts/Inter-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Inter-Bold';
	src: url('fonts/Inter-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

a {
    text-decoration: none;
    color: white;
    font-size: 35px;
}

h1 {
    color: white;
}

.search {
	background-color: black;
}

body {
    background-image: url(/img/background.jpg);
    background-size: cover;
    font-family: 'Inter-Bold', sans-serif;
    background-repeat: no-repeat;
    color: white;
}
.ftext {
    font-size: 65px;
    font-weight: bold;
    text-shadow: 0 4px 25px black;
}
.stext {
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    text-shadow: 0 4px 25px black;
}
.button {
    font-size: 30px;
    background-color: #EB5757;
    border-radius: 34px;
    text-align: center;
    padding: 10px;
    width: 213px;
    margin-top: 30px;
    font-weight: 700;
}
/* Плашки */
.blank {
    width: 1000px;
    margin-left: 45%;
    margin-right: 5%;
}
.information{
    background-color: #CDAEBA;
    border-radius: 40px 40px 0 0;
    text-align: center;
    background: rgba(205, 174, 186, 0.8);
    padding: 10px;
}
.head {
    color: black;
    font-weight: 700;
    font-size: 30px;
}
.text {
    color: black;
    font-size: 20px;
    font-family: 'Inter-SemiBold', sans-serif;
    font-weight: 600;
}